<!DOCTYPE html>

<title>FourData API</title>

{% block body %}
<style>
    pre {
        text-align: center;
        margin: 10% 0;
    }

    h1 {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }
</style>

<div class="example-wrapper">
    <pre>
        ________ ________  ___  ___  ________  ________  ________  _________  ________     
        |\  _____\\   __  \|\  \|\  \|\   __  \|\   ___ \|\   __  \|\___   ___\\   __  \    
        \ \  \__/\ \  \|\  \ \  \\\  \ \  \|\  \ \  \_|\ \ \  \|\  \|___ \  \_\ \  \|\  \   
         \ \   __\\ \  \\\  \ \  \\\  \ \   _  _\ \  \ \\ \ \   __  \   \ \  \ \ \   __  \  
          \ \  \_| \ \  \\\  \ \  \\\  \ \  \\  \\ \  \_\\ \ \  \ \  \   \ \  \ \ \  \ \  \ 
           \ \__\   \ \_______\ \_______\ \__\\ _\\ \_______\ \__\ \__\   \ \__\ \ \__\ \__\
            \|__|    \|_______|\|_______|\|__|\|__|\|_______|\|__|\|__|    \|__|  \|__|\|__|
    </pre>

    <h1>If you want to see the Swagger, <a href="/api/docs">it's here</a></h1>
</div>
{% endblock %}
